.tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid cyan;

    a {
        text-decoration: none;
        color: gray;

        &.active {
            border-bottom: 5px solid cyan;
            height: 1em;
            font-weight: 700;
            color: blue;
        }
    }
}

